html {
    overflow: hidden;
}


body {
    margin: 0;
    color: white;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper{
    min-height: 100vh;
    width: 100vw;
    background: radial-gradient(farthest-corner at 30vw 20vh, #7397A1 1%, #3F2C41 100%);
}

h1 {
    color: white;
    margin: auto auto
}