html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Tungsten Narrow A", "Tungsten Narrow B";
  font-style: normal;
  font-weight: 400;
  color: white;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

h1,
h3 {
  color: white;
  margin: 1vh 3vw;
}

.button {
  color: #aaa;
  margin: 1vh 1.5vw;
  font-size: 1.5rem;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
}

.image-resizer {
  height: 10vh;
  margin-left: 2vw;
}

.marketing-resizer {
  width: 400px;
  box-shadow: 0.5rem 0.5rem 3vh black;
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: 30vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper::before {
  background-color: black;
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-image: url("/assets/fitnessFour.jpg");
  opacity: 0.9;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
  width: 100vw;
  height: 110vh;
  padding-top: 20vh;
  background-color: white;
  //background-image: url("/assets/fitnessTwo.jpeg");
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper2 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper2::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessTwo.jpeg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper2 {
  width: 100vw;
  height: 170vh;
  //background-image: url("/assets/fitnessEight.jpg");
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper3 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

label {
  font-size: 1.5rem;
}

input {
  margin: 1vh auto;
  width: 250px;
}

.parallax-wrapper3::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessSeven.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper4 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper4::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessEleven.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper5 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper5::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessTen.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}
.regular-wrapper5 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  //background-image: url("/assets/streetFour.jpg");
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper6::before {
  content: "";
  width: 100vw;
  height: 200vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessOne.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}
.regular-wrapper6 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-image: url("/assets/fitnessOne.jpg");
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.content {
  margin: 0 auto;
  padding: 10vh 0;
  width: 100vw;
  background: #222;
  opacity: 0.8;
  text-align: center;
  color: white;
}
.content1 {
  margin: 0 auto;
  padding: 10vh 0;
  width: 100vw;
  background: #222;
  opacity: 0.8;
  text-align: center;
  color: white;
}

.regular-wrapper3 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.class-box {
  background-size: 100vw;
  background-color: #111;
  width: 100vw;
  padding: 8vh 5vw;
  margin-top: 5vh;
}


/* ---------------------- Media Queries ------------------------- */
/* <!-- mobile --> */
@media only screen and (min-width: 350px) {
  #video-player {
    position: relative;
    margin-top: -50vh;
  }
  .regular-wrapper {
    margin-top: -40vh;
    background-color: black;
  }
}

/* <!-- tablet --> */
@media only screen and (min-width: 768px) {
}

/* <!-- desktop --> */
@media only screen and (min-width: 992px) {
}

/* <!-- wide-screen --> */
@media only screen and (min-width: 1280px) {
}
