html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Tungsten Narrow A", "Tungsten Narrow B";
  font-style: normal;
  font-weight: 400;
  color: white;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

h1,
h3 {
  color: white;
  margin: 1vh 3vw;
}

.button {
  color: #AAA;
  margin: 1vh 1.5vw;
  font-size: 1.5rem;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
}

.image-resizer {
  height: 10vh;
  margin-left: 2vw;
}

.marketing-resizer {
  width: 400px;
  box-shadow: 0.5rem 0.5rem 3vh black;
}


.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: 30vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;

}

.parallax-wrapper::before {
  background-color: black;
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-image: url("/assets/fitnessFour.jpg");
  opacity: 0.9;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2)
}

.regular-wrapper {
  width: 100vw;
  height: 110vh;
  padding-top: 20vh;
  background-color: white;
  //background-image: url("/assets/fitnessTwo.jpeg");
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper2 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper2::before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessTwo.jpeg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2)
}

.regular-wrapper2 {
  width: 100vw;
  height: 170vh;
 //background-image: url("/assets/fitnessEight.jpg");
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper3 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

label {
  font-size: 1.5rem;
}

input {
  margin: 1vh auto;
  width: 250px;
}

.parallax-wrapper3::before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessSeven.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2)
}

.parallax-wrapper4 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper4::before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessEleven.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2)
}


.parallax-wrapper5 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper5::before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessTen.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2)
}
.regular-wrapper5 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  //background-image: url("/assets/streetFour.jpg");
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper6::before {
  content: '';
  width: 100vw;
  height: 200vh;
  top: 0;
  left: 0;
  background-image: url("/assets/fitnessOne.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2)
}
.regular-wrapper6 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-image: url("/assets/fitnessOne.jpg");
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.content {
  margin: 0 auto;
  padding: 10vh 0;
  width: 100vw;
  background: #222;
  opacity: 0.8;
  text-align: center;
  color: white
}
.content1 {
  margin: 0 auto;
  padding: 10vh 0;
  width: 100vw;
  background: #222;
  opacity: 0.8;
  text-align: center;
  color: white
}


.regular-wrapper3 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.class-box {
  background-size: 100vw;
  background-color: #111;
  width: 100vw;
  padding: 8vh 5vw;
  margin-top: 5vh;
 }


//html {
//  overflow: hidden;
//}
//body {
//  margin: 0;
//  height: 100vh;
//  font-family: "Tungsten Narrow A", "Tungsten Narrow B";
//  font-style: normal;
//  font-weight: 400;
//  perspective: 1px;
//  transform-style: preserve-3d;
//  overflow-x: hidden;
//  overflow-y: auto;
//}
//

//
//.wrapper {
//  width: 100vw;
//  height: auto;
//  background-color: white;
//  position: absolute;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  margin-top: 65vh;
//}
//

//



//
//.footer {
//  left: 0;
//  bottom: 0;
//  width: 100%;
//  height: auto
//}
//

//
//.content-wrapperOne {
//  background-image: url("assets/fitnessFour.jpg");
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: 100vw;
//  background-attachment: fixed;
//  width: 100vw;
//  padding: 8vh 5vw;
//  margin-top: 25vh;
//  margin-bottom: 15vh;
//}
//
//.content-wrapperTwo {
//  background-image: url("assets/fitnessTwo.jpeg");
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: 100vw;
//  background-attachment: fixed;
//  width: 100vw;
//  padding: 8vh 5vw;
//  margin-top: 25vh;
//  margin-bottom: 15vh;
//}
//
//.content-wrapperThree {
//  background-image: url("assets/fitnessSeven.jpg");
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: 100vw;
//  background-attachment: fixed;
//  width: 100vw;
//  padding: 8vh 5vw;
//  margin-top: 25vh;
//  margin-bottom: 15vh;
//}
//
//.content {
//  padding: 8vh 5vw;
//  background-color: #444;
//  color: white;
//  opacity: 0.8;
//  border: 1px solid white;
//  box-shadow: 0 0 2vh #444;
//  text-align: center;
//  margin: 30vh auto;
//}
//
//.fitness-wrapper {
//  margin-top: 15vh;
//}
//
//.form-style {
//  padding: 3vh 5vw;
//  text-align: center;
//  font-size: 1.25rem;
//  background: url("assets/fitnessNine.jpg");
//  background-size: 90%;
//  background-repeat: no-repeat;
//  background-attachment: fixed;
//  background-position: center center;
//  height: 100vh;
//}
//
//.form-style-two {
//  padding: 8vh 10vw;
//  text-align: center;
//  font-size: 1.25rem;
//  border: 1px solid black;
//  border-radius: 50px;
//  box-shadow: 0 0 2vh black;
//  height: auto;
//  margin-top: 3vh;
//  color: black;
//  opacity: 0.8;
//}
//
//.form-style-two input {
//  margin: 3vh 3vw;
//  font-size: 1.5rem;
//}
//
//.input-style {
//  padding: 3vh 5vh;
//  background-color: #444;
//  box-shadow: 0 0 2vh black;
//  opacity: 0.8;
//  color: white;
//  border-radius: 50px;
//}
//
//div input {
//  margin: 1.5vh 1vw;
//  width: 275px;
//  font-size: 1.5rem;
//}
//
//div button {
//  width: 275px;
//  margin: 3vh auto;
//  font-size: 1.5rem;
//}
//
//.login-style {
//  padding: 30vh 10vw;
//  font-size: 1.25rem;
//  background: url("assets/fitnessTen.jpg");
//  background-size: contain;
//  background-repeat: no-repeat;
//  background-position: center center;
//  background-attachment: fixed;
//  text-align: center;
//}


/* --------------------------PaymentForm----------------------------- */
.FormGroup {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-bottom:10vh ;
  padding: 8vh 10vw;
  border: black 1px solid;
  background-color: #eee;
  border-radius: 50px;
  box-shadow: 0 0 1vh white;
  color:black;
  min-width: '375px';
}
// className={"d-flex flex-column justify-content-center"}
// style={{
//   textAlign: "center",
//   border: "1px solid black",
//   padding: "8vh 10vw",
//   borderRadius: "50px",
//   boxShadow: "0 0 1vh white",
//   marginBottom: "10vh",
//   backgroundColor: '#eee',
//   color: 'black',
//   minWidth: '375px'
// }}
.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}
.FormRow:first-child {
  border-top: none;
}
.FormRowLabel {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.StripeElement--webkit-autofill {
  // not sure what this does
	background: transparent !important;
}

// all StripeElements are related to the card info area 
.StripeElement,
.StripeElementIdeal {
  // this is the container for the card info
  display: block;
  margin: 10px 0 20px 0;
  width:100%;
  max-width: 500px;
  padding: 10px 14px;
  border-radius: 4px;
  background: white;
  border: 1px black solid;
}

.StripeElement--focus,
.StripeElementIdeal--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.loading {
  height: 41.6px;
  opacity: 0.6;
}

.StripeElementIdeal {
  padding: 0;
}

.SubmitButton {
  display: block;
  width: calc(100% - 30px);
  margin: 2vh 0;
  background-color: #444;
  border-radius: 50px;
  color: white;
  padding:1.5vh 50px;
  font-size:1.5rem;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
}
.SubmitButton:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}
.SubmitButton.SubmitButton--error {
  transform: translateY(15px);
}
.SubmitButton.SubmitButton--error:active {
  transform: scale(0.99) translateY(15px);
}

.SubmitButton:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: #7795f8;
  box-shadow: none;
}

.ErrorMessage {
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  font-size: 13px;
  margin-top: 0px;
  width: 100%;
  transform: translateY(-15px);
  opacity: 0;
  animation: fade 150ms ease-out;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  will-change: opacity, transform;
}

.ErrorMessage svg {
  margin-right: 10px;
}
/* ---------------------- Media Queries ------------------------- */
/* <!-- mobile --> */
@media only screen and (min-width: 350px) {
  #video-player {
      position: relative;
      margin-top: -50vh;
  }
  .regular-wrapper {
    margin-top: -40vh;
    background-color: black;
  }

}

/* <!-- tablet --> */
@media only screen and (min-width: 768px) {
}

/* <!-- desktop --> */
@media only screen and (min-width: 992px) {
}

/* <!-- wide-screen --> */
@media only screen and (min-width: 1280px) {
}
