body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Tungsten Narrow A", "Tungsten Narrow B";
  font-style: normal;
  font-weight: 400;
  perspective: 1px;
  transform-style: preserve-3d;
}

#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
}

.wrapper {
  width: 100vw;
  height: auto;
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65vh;
}

h1,
h3 {
  color: #444;
  margin: 1vh 3vw;
}

.button {
  color: #444;
  margin: 1vh 2vw;
  font-size: 1.5rem;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
}

.classes-content-container {
  margin: 15vh auto;
}

.image-resizer {
  height: 10vh;
  margin-left: 2vw;
}

.marketing-resizer {
  width: 350px;
  box-shadow: 0.5rem 0.5rem 3vh black;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto
}

.class-box {
  background-image: url("assets/fitnessOne.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  width: 100vw;
  padding: 8vh 5vw;
  margin-top: 5vh;
}

.content-wrapperOne {
  background-image: url("assets/fitnessFour.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  width: 100vw;
  padding: 8vh 5vw;
  margin-top: 25vh;
  margin-bottom: 15vh;
}

.content-wrapperTwo {
  background-image: url("assets/fitnessTwo.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  width: 100vw;
  padding: 8vh 5vw;
  margin-top: 25vh;
  margin-bottom: 15vh;
}

.content-wrapperThree {
  background-image: url("assets/fitnessSeven.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  width: 100vw;
  padding: 8vh 5vw;
  margin-top: 25vh;
  margin-bottom: 15vh;
}

.content {
  padding: 8vh 5vw;
  background-color: #444;
  color: white;
  opacity: 0.8;
  border: 1px solid white;
  box-shadow: 0 0 2vh #444;
  text-align: center;
  margin: 30vh auto;
}

.fitness-wrapper {
  margin-top: 15vh;
}

.form-style {
  padding: 3vh 5vw;
  text-align: center;
  font-size: 1.25rem;
  background: url("assets/fitnessNine.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
}

.form-style-two {
  padding: 8vh 10vw;
  text-align: center;
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0 0 2vh black;
  height: auto;
  margin-top: 3vh;
  color: black;
  opacity: 0.8;
}

.form-style-two input {
  margin: 3vh 3vw;
  font-size: 1.5rem;
}

.input-style {
  padding: 3vh 5vh;
  background-color: #444;
  box-shadow: 0 0 2vh black;
  opacity: 0.8;
  color: white;
  border-radius: 50px;
}

div input {
  margin: 1.5vh 1vw;
  width: 275px;
  font-size: 1.5rem;
}

div button {
  width: 275px;
  margin: 3vh auto;
  font-size: 1.5rem;
}

.login-style {
  padding: 30vh 10vw;
  font-size: 1.25rem;
  background: url("assets/fitnessTen.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
}


/* ---------------------- Media Queries ------------------------- */
/* <!-- mobile --> */
@media only screen and (min-width: 480px) {
}

/* <!-- tablet --> */
@media only screen and (min-width: 768px) {
}

/* <!-- desktop --> */
@media only screen and (min-width: 992px) {
}

/* <!-- wide-screen --> */
@media only screen and (min-width: 1280px) {
}
