html {
    overflow: hidden;
}


body {
    margin: 0;
    color: white;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(farthest-corner at 30vw 20vh, #7397A1 1%, #3F2C41 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    margin: auto auto
}

.btn {
    color: white;
}

